
body {
    font-family: sans-serif;
    background-color: black;
    background-image: linear-gradient(to bottom, black, black 100%);
    background-attachment: fixed;
 
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
 
    padding: 0;
    margin: 0;
 
    font-size: 14px;
}
 
.container {
    max-width: 2000px;
    margin: 0 auto;
    min-height: 100%;
    background: white;
}
 
header {
    background: black;
    background-image: linear-gradient(to bottom, black, #e1e5f0 100%);
    padding: 20px 15px 15px 15px;
    position: relative;
}
 
#login-buttons {
    display: block;
    color: white;
    font-size:25px;
}
 
h1 {
    font-family:fantasy;
    color:white;
    font-size: 50px;
    margin: 0;
    margin-bottom: 10px;
    display: inline-block;
    margin-right: 1em;
}
 
form {
    margin-top: 10px;
    margin-bottom: -10px;
    position: relative;
}
 
.new-post textarea {
    border-radius:10px;
    box-sizing: border-box;
    padding: 10px 0;
    background: #d2edf4;
    word-wrap: break-word;
    border: none;
    width: 100%;
    height: 200px;
    padding-right: 80px;
    font-size: 25px;

}
 
.new-post input:focus{
    outline: 0;
}
 
.new-post .enter{

}

ul {
    margin: 0;
    padding: 0;
    background: white;
}
 
.delete {
    float: right;
    font-weight: bold;
    background: none;
    font-size: 1em;
    border: none;
    position: relative;
}

.myButton {
    -moz-box-shadow:inset 0px 39px 0px -24px #212cff;
    -webkit-box-shadow:inset 0px 39px 0px -24px #212cff;
    box-shadow:inset 0px 39px 0px -24px #212cff;
    background-color:#212cff;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
    border:1px solid #212cff;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:21px;
    padding:15px 37px;
    text-decoration:none;
    text-shadow:0px 1px 0px #212cff;
}

.myButton:hover {
    background-color:#eb675e;
}
.myButton:active {
    position:relative;
    top:1px;
}

 
li {
    position: relative;
    list-style: none;
    padding: 15px;
    border-bottom: #eee solid 1px;
}
 
li .text {
    margin-left: 10px;
}
 
li.checked {
    color: #888;
}
 
li.checked .text {
    
}
 
li.private {
    background: #eee;
    border-color: #ddd;
}
 
header .hide-completed {
    float: right;
    color:white;
}
 
.toggle-private {
    float: right;
    font-weight: bold;
    background: none;
    font-size: 1em;
    border: none;
    margin-left: 5px;
     float: right;
}
 
@media (max-width: 600px) {
    li {
        padding: 12px 15px;
    }
 
    .search {
        width: 150px;
        clear: both;
    }
 
    .new-post input {
        padding-bottom: 5px;
    }
}