<header>
  <h1>Blog ( {{$ctrl.incompleteCount}} )</h1>

  <label class="hide-completed">
    <input type="checkbox" ng-model="$ctrl.hideCompleted"/>
    Hide Read Posts
  </label>

  <login-buttons></login-buttons>

  <form class="new-post" ng-show="$ctrl.currentUser">
    <textarea rows="5" ng-model="$ctrl.newpost" type="text" name="text" placeholder="Type to add new post"></textarea>
    <!-- <button class="Enter" ng-click="$ctrl.addpost($ctrl.newpost)">Post</button> -->
    <a href="#" class="myButton" ng-click="$ctrl.addpost($ctrl.newpost)">Post</a>
  </form>
  
</header>

<ul>
<li ng-repeat="post in $ctrl.posts" ng-class="{'checked': post.checked, 'private': post.private}">
    <button class="delete" ng-click="$ctrl.removepost(post)" ng-show="post.owner === $ctrl.currentUser._id">Delete</button>

    <label>{{post.checked == true ? "Read" : "Unread"}}</label>

    <input type="checkbox" ng-checked="post.checked" ng-click="$ctrl.setChecked(post)" class="toggle-checked"/>

    <span class="text">
      <strong>{{post.username}}</strong> {{post.createdAt.toString().substring(0,25)}} - {{post.text}}
    </span>
    <button class="toggle-private" ng-click="$ctrl.setPrivate(post)" ng-show="post.owner === $ctrl.currentUser._id">
      {{post.private == true ? "Private" : "Public"}}
    </button>
</ul>
<img src="img/christmas.jpg" width="1000" height="500" alt="submit"/>
